.editor-styles-wrapper .c-article {
    color: #3C2A10;
    font-size: 1rem !important;
}
.editor-styles-wrapper .u-weight__mediumBold {
    font-weight: 400;
  }
.editor-styles-wrapper .p-card__textareaSingle--top {
    width: 54.3%;
  }
  
.editor-styles-wrapper .u-lineheight {
    line-height: 1.485rem;
  }
  /*.is-style-list-1{
    margin-top:2.0625rem;
    margin-bottom:1.5rem;
    line-height: 1.485rem;
    @media screen and (min-width: 768px){
        margin-top: 3.9375rem;
        margin-bottom:1.5rem;    
    }
    @media screen and (min-width: 1200px) {
        margin-top: 3.375rem;
        margin-bottom: 1.5rem;
    }
}
.is-style-list-2{
    line-height: 1.485rem;
    margin-left: calc(11.47% - 1.25rem);
    padding-top: 1.0625rem;
    margin-bottom: 1.625rem;
    @media screen and (min-width: 768px){
        margin-left:calc(18% - 1.25rem);
        margin-bottom: 3.5rem;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 3.5rem;
    }
}*/